<span class="radioClass">Show : </span>

<!-- <input type="radio" name="options"
      id="All"
      [value]="gender"
      (change)="onChangeGender($event)"
      (change)="onSelectGender()"> -->

<input type="radio" name="options"
       value="All"
       [(ngModel)]="gender"
       (change)="onSelectGender()">
<span class="radioClass">{{"All(" + all + ")"}}</span>

<input type="radio" name="options"
       value="Male"
       [(ngModel)]="gender"
       (change)="onSelectGender()">
<!-- <input type="radio" name="options" id="Male" [value]="gender" (change)="onChangeGender($event)"
  (change)="onSelectGender()"> -->
<span class="radioClass">{{"Male(" + male + ")"}}</span>

<input type="radio" name="options"
       value="Female"
       [(ngModel)]="gender"
       (change)="onSelectGender()">
<!-- <input type="radio" name="options" id="Female" [value]="gender" (change)="onChangeGender($event)"
  (change)="onSelectGender()"> -->
<span class="radioClass">{{"Female(" + female + ")"}}</span>
<br>
<br>
<!-- <input type="text" (input)="onChangeInput($event)" [value]="txtInput" > -->
<input type="text" [(ngModel)]="txtInput">
<br>
<span>{{txtInput}}</span>
<br>
<button (click)='showParentMessage()'>Greet</button>
